<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test1">
    <classes>
      <class name="com.testng.selenium.v2.TC01_VerifyInvalidLogin"/>
    </classes>
  </test>
  <test name="Test2">
    <classes>
      <class name="com.testng.selenium.v2.TC02_VerifyValidLogin"/>
    </classes>
  </test>
  <test name="Test3">
    <classes>
      <class name="com.testng.selenium.v2.TC04_VerifyLogout"/>
    </classes>
  </test>
  <test name="Test4">
    <classes>
      <class name="com.testng.selenium.v2.TC03_VerifyRegistration"/>
    </classes>
  </test>
</suite> <!-- Suite -->
